@model PP1.CONTRATO.WEB.Models.Funcionario.FuncionarioVM
@using PP1.CONTRATO.WEB.Util

@{
    ViewBag.Title = "Detalhar registro";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    ViewBag.readOnly = true;
}
<nav class="breadcrumb sl-breadcrumb">
    <a class="breadcrumb-item" href="@Url.Action("Index","Home")">Painel</a>
    <a class="breadcrumb-item" href="@Url.Action("Index","Funcionario")">Funcionário</a>
    <span class="breadcrumb-item active">Detalhar</span>
</nav>

<div class="sl-pagebody">
    <div class="card pd-20 pd-sm-40">



        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h2>Visualizar funcionário</h2>
                @Html.RenderFlashMessage()
                @Html.CustomValidationSummary(true, true, "Ocorreram alguns erros, por favor verifique!!", new { @class = "alert alert-danger", role = "alert" })

                @Html.Partial("Form", Model)

                <div class="form-group" style="float:right; margin-bottom:2px">
                    <label class="control-label col-xs-12">AÇÕES</label><div class="col-xs-12">
                        <a class="btn btn-secondary menu-form" href="@Url.Action("Index")" title="Limpar o formulário"><span class="ion-arrow-left-a"></span> Voltar</a>
                        <a class="btn btn-info menu-form" href="@Url.Action("Edit", new { id = Model.idPai })" title="Editar registro"><i class="ion-edit"></i> Editar</a>
                        <a class="btn btn-danger menu-form" href="@Url.Action("Delete", new { id = Model.idPai })" title="Remover registro"><i class="ion-trash-a"></i> Excluir</a>

                    </div>
                </div>
            </div>


        }
    </div>
</div><!-- sl-pagebody -->