@model PP1.CONTRATO.WEB.Models.Cliente.ClienteVM
@using PP1.CONTRATO.WEB.Util

@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);

}

<hr />


<div class="form-layout">

    <div class="row">
        @if (action != "create")
        {
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.idPai, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.idPai, new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
        }
        @if (action == "create")
        {
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.flTipo, new { @class = "form-control-label" })
                    @Html.DropDownListFor(model => model.flTipo, PP1.CONTRATO.WEB.Models.Cliente.ClienteVM.Tipo, new { @class = "form-control select2" }.ReadOnlyIf(readOnly))
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.flTipo, new { @class = "form-control-label" })
                    @Html.DropDownListFor(model => model.flTipo, PP1.CONTRATO.WEB.Models.Cliente.ClienteVM.Tipo, new { @class = "form-control select2", readOnly = "readOnly" }.DisabledIf(readOnly))
                </div>
            </div>
        }
        @if (action != "create")
        {
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.flSituacao, new { @class = "form-control-label" })
                    @Html.DropDownListFor(model => model.flSituacao, PP1.CONTRATO.WEB.Models.Cliente.ClienteVM.Situacao, new { @class = "form-control select2" }.AppendIf(readOnly, "disabled", "disabled"))
                </div>
            </div>
        }
    </div>

</div>
<div class="form-layout">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group ">
                @Html.LabelFor(e => e.nmPessoa, "Razão Social", new { @class = "form-control-label juridica " })
                @Html.LabelFor(e => e.nmPessoa, "Cliente", new { @class = "form-control-label fisica" })
                @Html.TextBoxFor(model => model.nmPessoa, new { @class = "form-control", maxlength = "50", @autofocus = "autofocus" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nmPessoa, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>
<div class="form-layout fisica">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor(e => e.Fisica.nmApelido, new { @class = "form-control-label " })
                @Html.TextBoxFor(model => model.Fisica.nmApelido, new { @class = "form-control", maxlength = "30", @autofocus = "autofocus" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Fisica.nmApelido, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>
<div class="form-layout juridica">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="form-group">
                @Html.LabelFor(e => e.Juridica.nmFantasia, new { @class = "form-control-label " })
                @Html.TextBoxFor(model => model.Juridica.nmFantasia, new { @class = "form-control", maxlength = "30", @autofocus = "autofocus" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Juridica.nmFantasia, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>


<div class="form-layout fisica">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.Fisica.dtNascimento, new { @class = "form-control-label " })
                @Html.TextBoxFor(e => e.Fisica.dtNascimento, "{0:dd/MM/yyyy}", new { @class = "form-control", @mask = "99/99/9999" }.ReadOnlyIf(readOnly))

            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Fisica.flSexo, new { @class = "form-control-label" })
                @Html.DropDownListFor(model => model.Fisica.flSexo, PP1.CONTRATO.WEB.Models.Cliente.ClienteVM.Sexo, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>


<h4><i class="fa fa-map-marker"></i> Endereço</h4>
<hr />

<div class="form-layout">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group cepp">
                @using (Html.BeginFormContainer(e => e.nrCEP))
                {
                    @Html.LabelFor(e => e.nrCEP, new { @class = "control-label " })
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.nrCEP, new { @class = "form-control", @mask = "99999-999", maxlength = "10" }.ReadOnlyIf(readOnly))
                        <div class="input-group-addon">
                            <i class="fa fa-search" onblur="document()" onclick="document()"></i>

                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(e => e.nmLogradouro, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nmLogradouro, new { @class = "form-control", maxlength = "60" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nmLogradouro, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                @Html.LabelFor(e => e.nrNumero, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nrNumero, new { @class = "form-control", maxlength = "10" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nrNumero, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>

<div class="form-layout">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(e => e.dsComplemento, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.dsComplemento, new { @class = "form-control", maxlength = "70" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.dsComplemento, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.nmBairro, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nmBairro, new { @class = "form-control", maxlength = "30" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nmBairro, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>

<div class="row">
    @Html.EditorFor(model => model.Cidade, "Cidade/Select", new { @Required = true, Disable = readOnly })
</div>

<h4 style="margin-top: 1rem"><i class="fa fa-phone-square"></i> Contato</h4>
<hr />

<div class="form-layout">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.nrTelefone, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nrTelefone, new { @class = "form-control", @mask = "(99)9999-9999" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nrTelefone, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.nrCelular, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nrCelular, new { @class = "form-control", @mask = "(99)9-9999-9999" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nrCelular, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.dsEmail, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.dsEmail, new { @class = "form-control", maxlength = "30" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.dsEmail, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>


<div class="form-layout juridica">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group ">
                @Html.LabelFor(e => e.Juridica.dsSite, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Juridica.dsSite, new { @class = "form-control", maxlength = "30" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Juridica.dsSite, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>


<div class="form-layout juridica">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(e => e.Juridica.nmContato, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Juridica.nmContato, new { @class = "form-control", maxlength = "50" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Juridica.nmContato, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Juridica.flContato, new { @class = "form-control-label" })
                @Html.DropDownListFor(model => model.Juridica.flContato, PP1.CONTRATO.WEB.Models.Cliente.ClienteVM.Contato, new { @class = "form-control" })

            </div>
        </div>

    </div>
</div>


<h4 style="margin-top: 1rem"><i class="fa fa-id-card"></i> Dados legais</h4>
<hr />

<div class="form-layout fisica">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.Fisica.nrCPF, "CPF", new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Fisica.nrCPF, new { @class = "form-control", @mask = "999.999.999-99" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Fisica.nrCPF, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.Fisica.nrRG, "RG", new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Fisica.nrRG, new { @class = "form-control", maxlength = "15" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Fisica.nrRG, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>

<div class="form-layout juridica">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.Juridica.nrCNPJ, "CNPJ", new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Juridica.nrCNPJ, new { @class = "form-control", @mask = "99.999.999/9999-99" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Juridica.nrCNPJ, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.Juridica.nrIE, "Ins. Estadual", new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.Juridica.nrIE, new { @class = "form-control", maxlength = "15" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.Juridica.nrIE, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>

<h4 style="margin-top: 1rem"><i class="fa fa-dollar"></i> Dados de cobrança e crédito</h4>
<hr />

<div class="form-layout">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.vlLimite, new { @class = "form-control-label" })
                @Html.TextBox("vlLimite", null, new { @class = "form-control currency" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.vlLimite, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>

    </div>
</div>

<h4 style="margin-top: 1rem"><i class="fa fa-info"></i> Informações</h4>
<hr />

<div class="form-layout">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor(e => e.dsObservacao, new { @class = "form-control-label" })
                @Html.TextAreaFor(model => model.dsObservacao, new { @class = "form-control textarea", maxlength = "250" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.dsObservacao, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>

    </div>
</div>


@if (action != "create")
{
    <div class="form-layout">
        <div class="row mg-b-0">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.dtCadastro, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.dtAtualizacao, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.dtAtualizacao, "{0:dd/MM/yyyy}", new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
        </div>
    </div>

}

<hr />
