
@using PP1.CONTRATO.WEB.Util;


<table id="@Helper.getInputId("grid", Html.ClientPrefixName().ToString())" style="width: 100%" class="@Helper.Table table-select">
    <thead>
        <tr>
            <th></th>
            <th style="width:20%">Id.</th>
            <th style="width:80%">Nome</th>
        </tr>
    </thead>
</table>

@Html.AddScriptBlock(
    @<script type="text/javascript">
        $(function () {

            $(document).on('@Helper.getInputId(Html.ClientPrefixName().ToString(), "Open")', function (e, data) {
                $('#@Helper.getInputId("grid", Html.ClientPrefixName().ToString())').DataTable().draw()
            });

            var table = $('#@Helper.getInputId("grid", Html.ClientPrefixName().ToString())').dataTable({
                iDeferLoading: 0,
                ajax: { url: "@Url.Action("JsQuery", "Pais")" },
                sDom: "<'row'<'visible-lg visible-md hidden-sm hidden-xs  col-md-6'l><'col-md-6'f><'col-md-12'r>>t<'row'<'visible-lg visible-md hidden-sm hidden-xs col-md-6'i><'col-md-6'p>>",
                columns: [
                    {
                        sortable: false,
                        data: null,
                        sClass: 'center',
                        mRender: function (data) {
                            return '<a class="btn btn-success btn-sm" href="#" title="Selecionar registro"><i class="glyphicon glyphicon-ok"></i> </a>';
                        }
                    },
                    { data: "idPais", sortable: true },
                    { data: "nmPais", sortable: true },
                ],
                fnServerParams: null,
                fnInfoCallback: null,
                initComplete: function (settings, json) {
                    $('#@Helper.getInputId("grid_filter", Html.ClientPrefixName().ToString()) input').focus();
                },
                fnRowCallback: function (nRow, aData) {
                    $('td', nRow).off('click').on('click', function (e) {
                        $(document).trigger('@Helper.getInputId(Html.ClientPrefixName().ToString(), "AfterSelect")', { id: aData.idPais, text: aData.nmPais });
                        e.preventDefault()
                    });

                    $('td a', nRow).off('click').on('click', function (e) {
                        $(document).trigger('@Helper.getInputId(Html.ClientPrefixName().ToString(), "AfterSelect")', { id: aData.idPais, text: aData.nmPais });
                        e.preventDefault()
                    });
                },
            });
        });
    </script>
)