@model PP1.CONTRATO.WEB.Models.Pais.ConsultaVM
@using PP1.CONTRATO.WEB.Util;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? false);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "País");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Label);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString();
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);



}

@Html.Hidden("flEdit")
<div class="@classForm">
    @Html.Label("", Label)
    <div class="input-group">
        <div class="input-group-btn" style="width:15%">
            @Html.TextBoxFor(model => model.id, new { @style = "border-radius: 0px 0px 0px 0px;", @class = "form-control number", maxLength = "6" })
            @*<span id="errmsg"></span>*@
        </div>
        <div class="input-group-btn" style="width:83%">
            @Html.TextBoxFor(model => model.text, new { @class = "form-control", Disabled = true })
        </div>
        <div class="input-group-btn">
            <a style="border-radius:0" data-target="#@Helper.getInputId("Modal", Prefix)" id="@Helper.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
        </div>
        @Html.ValidationMessageFor(model => model.id, null, new { @class = "text-danger" })
    </div>
</div>

<div id="@Helper.getInputId("ModalLista", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Paises </b></a></li>
                        </ul>
                    </div>

                    <div style="text-align:right">
                        <button id="@Helper.getInputId("Create", Prefix)" onclick="OpenModalCreate()" type="button" class="btn btn-success"><i class="fa fa-plus"></i>  Adicionar</button>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TablePaises"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@Helper.getInputId("Fechar", Prefix)" onclick="FecharModal()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="@Helper.getInputId("ModalCreate", Prefix)" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Cadastrar país</b></a></li>
                        </ul>
                    </div>
                    <hr />
                    <div id="body" class="modal-body" style="padding: 0px 0px 0px 0px">
                        <div class="container-fluid">

                            <div class="form-row">
                                <div class="@Helper.InputSM">
                                    @Html.Label("idPais", "Código")
                                    @Html.TextBox("idPais", null, new { @class = "form-control", disabled = true, })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.Input12">
                                    @Html.Label("nmPais", "País", new { @class = "required" })
                                    @Html.TextBox("nmPais", null, new { @class = "form-control", maxlength = "50", style = "text-transform:uppercase" })
                                    @Html.ValidationMessage("nmPais", null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.InputMD">
                                    @Html.Label("nrDDI", "DDI", new { @class = "required" })
                                    @Html.TextBox("nrDDI", null, new { @class = "form-control", maxlength = "5", style = "text-transform:uppercase" })
                                </div>

                                <div class="@Helper.InputMD">
                                    @Html.Label("dsSigla", "Sigla", new { @class = "required" })
                                    @Html.TextBox("dsSigla", null, new { @class = "form-control", maxlength = "2", style = "text-transform:uppercase" })

                                </div>
                            </div>

                            @*<div class="form-row">
                                <div class="@Helper.InputSM">
                                    @Html.Label("dtCadastro", "Data de cadastro", new { @class = "required" })
                                    @Html.TextBox("dtCadastro", null, new { @class = "form-control", disabled = true })
                                </div>

                                <div class="@Helper.InputSM ">
                                    @Html.Label("dtultalteracao", "Data de cadastro", new { @class = "required" })
                                    @Html.TextBox("dtultalteracao", null, new { @class = "form-control", disabled = true })
                                </div>
                             </div>*@   

                        </div>
                    </div>
                    <hr style="margin-top: 2rem" />
                    <div class="modal-footer" >
                        <div style="text-align:right">
                            <button id="@Helper.getInputId("btnSave", Prefix)" type="button" class="btn btn-success"><i class="fa fa-save"></i>  Salvar</button>
                            <button id="@Helper.getInputId("FecharCreate", Prefix)" onclick="FecharModalCreate()" type="button" class="btn btn-danger"><i class="fa fa-ban"></i>  Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AddScriptBlock(
@<script type="text/javascript">
     self = this;
    $(function () {
         $("#@Helper.getInputId("btn-localizar", Prefix)").on("click", function () {
             InitModalPaises();
         });

        $('#@Helper.getInputId("btnSave", Prefix)').on('click', function () {
            self.save();
         });

     });

    this.getForm = function() {
        var form = {
                idPais : $('#@Helper.getInputId("idPais", Prefix)'),
                nmPais: $('#@Helper.getInputId("nmPais", Prefix)'),
                nrDDI: $('#@Helper.getInputId("nrDDI", Prefix)'),
                dsSigla: $('#@Helper.getInputId("dsSigla", Prefix)'),
        }
        return form;
    };

    this.clear = function () {
        var form = self.getForm();
        form.nmPais.val("");
        form.nrDDI.val("");
        form.dsSigla.val("");
        form.nmPais.focus();
    };

    this.isValid = function () {
        var valid = true;
        var form = self.getForm();

        if (IsNullOrEmpty(form.nmPais.val())) {
            form.nmPais.blink({ msg: "Campo país é obrigatório" });
            form.nmPais.focus();
            valid = false;
        }

        else if (IsNullOrEmpty(form.nrDDI.val())) {
            form.nrDDI.blink({ msg: "Campo DDI é obrigatório" });
            form.ddi.focus();
            valid = false;
        }

        else if (IsNullOrEmpty(form.dsSigla.val())) {
            form.dsSigla.blink({ msg: "Campo sigla é obrigatório" });
            form.dsSigla.focus();
            valid = false;
        }
        return valid;
    };

    getModel = function (form) {
        var model = {
            idPais: form.idPais.val(),
            nmPais: form.nmPais.val(),
            nrDDI: form.nrDDI.val(),
            dsSigla: form.dsSigla.val(),
        }
        return model;
    };
    this.insert = function () {
        var form = self.getForm();
        var model = getModel(form);

        if (self.isValid(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsCreate", "Pais")',
                data: model,
                success: function (data) {
                       $("#@Helper.getInputId("ModalCreate", Prefix)").modal("hide");
                        RecarregarModalPais();
                        FecharModalCreate();
                        @*$("#@Helper.getInputId("ModalCreate", @Prefix)").modal("hide");
                        $("#@Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");*@
                        //$.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });
                },
                error: function (request) {
                    @*shared_function["@Prefix"].button('reset');
                    Functions.checkRequest(request);*@
                }
            });
        }
    };

    function RecarregarModalPais() {
        $("#TablePaises").empty();
        let table = null
        let lis = getTablePaises();
        $("#TablePaises").append(lis);

        table = $('#lista').DataTable({
            ajax: { url: $('#lista').attr('data-url') },
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json',
            },
            columns: [

                { data: "id" },
                { data: "text" },
                {
                    sortable: false,
                    data: null,
                    sClass: 'details-control center',
                    mRender: function (data) {
                        return '<a class="btn btn-primary btn-sm" data-evet="item" title="Selecionar registro"><i class="fa fa-check"></i> </a> ';
                    }
                },
                {
                    sortable: false,
                    data: null,
                    mRender: function (data) {
                        return '<a class="btn btn-warning btn-sm" onclick="OpenEdit(' + data.id + ')" title="Alterar registro"><i class="fa fa-edit"></i> </a></div>';
                    }
                },

            ],
        });
        $('#lista tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });
            }
            else {
                row.child(SelectPais(row.data())).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });
    }

    function InitModalPaises() {
        RecarregarModalPais();
        $("#@Helper.getInputId("ModalLista", Prefix)").modal("show");


      }
    function getTablePaises() {
        let tmp = `<table id="lista" class="table table-striped table-bordered" style="width:100%" data-url="@Url.Action("JsQuery", "Pais")">
                        <thead>
                            <tr>

                                <th export="true" style="width:10%">Código</th>
                                <th export="true" style="width:90%">Nome</th>
                                <t></th>
                                <t></th>

                            </tr>
                        </thead>
                   </table>`;
          return tmp;
    };
    function FecharModal() {
        $("#@Helper.getInputId("ModalLista", Prefix)").modal("hide");
    };

    function FecharModalCreate() {
        $("#@Helper.getInputId("ModalCreate", Prefix)").css("overflow", "hidden");
        $("#@Helper.getInputId("ModalCreate", Prefix)").modal("hide");
        $("#@Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");
        self.clear();
    };

    function OpenModalCreate() {
        $("#@Helper.getInputId("ModalLista", Prefix)").css("overflow", "hidden");
        $("#@Helper.getInputId("ModalCreate", Prefix)").css("overflow", "auto");
        $("#@Helper.getInputId("ModalCreate", Prefix)").modal("show");
    };

    function SelectPais(data) {
        $("#@Helper.getInputId("ModalLista", Prefix)").modal("hide");
        $("#@Helper.getInputId("id", Prefix)").val(data.id);
        $("#@Helper.getInputId("text", Prefix)").val(data.text);
        return false;
    }
    function OpenEdit(id) {

        $("#@Helper.getInputId("flEdit", Prefix)").val("S");
        $.ajax({
            dataType: 'json',
            type: 'Get',
            url: '@Url.Action("jsDetails", "Pais")',
            data: { id : id },
            success: function (data) {
                var form = self.getForm();
                    form.idPais.val(data.idPais);
                    form.nmPais.val(data.nmPais);
                    form.nrDDI.val(data.nrDDI);
                    form.dsSigla.val(data.dsSigla);
            },
            error: function (request) {
                @*shared_function["@Prefix"].button('reset');
                Functions.checkRequest(request);*@
            }
            });
        OpenModalCreate();
        return false;
    }
    this.save = function () {
        if ($("#@Helper.getInputId("flEdit", Prefix)").val() == "S") {
            self.Edit();
        } else {
            self.insert();
        }
    }
    this.Edit = function () {
        var form = self.getForm();
        var model = getModel(form);

        if (self.isValid(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("JsEdit", "Pais")',
                data: model,
                success: function (data) {
                    $("#@Helper.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@Helper.getInputId("flEdit", Prefix)").val("N");
                        RecarregarModalPais();
                        FecharModalCreate();
                        @*$("#@Helper.getInputId("ModalCreate", @Prefix)").modal("hide");
                        $("#@Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");*@
                        //$.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });
                },
                error: function (request) {
                    @*shared_function["@Prefix"].button('reset');
                    Functions.checkRequest(request);*@
                }
            });
        }
    };

 
</script>
)
