@model PP1.CONTRATO.WEB.Models.Pais.PaisVM
@using PP1.CONTRATO.WEB.Util

@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);

}

<hr />

@if (action != "create")
{
    <div class="form-layout">
        <div class="row mg-b-0">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.idPai, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.idPai, new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
           
        </div>
    </div>

}
<div class="form-layout">
    <div class="row mg-b-25">
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(e => e.nmPais, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nmPais, new { @class = "form-control sotexto", maxlength = "100", @autofocus = "autofocus" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nmPais, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                @Html.LabelFor(e => e.dsSigla, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.dsSigla, new { @class = "form-control sotexto", maxlength = "3" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.dsSigla, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                @Html.LabelFor(e => e.nrDDI, new { @class = "form-control-label" })
                @Html.TextBoxFor(model => model.nrDDI, new { @class = "form-control number", maxlength = "4" }.ReadOnlyIf(readOnly))
                @Html.ValidationMessageFor(model => model.nrDDI, null, new { @class = "text-danger" }.HideIf(readOnly))
            </div>
        </div>
    </div>
</div>

@if (action != "create")
{
    <div class="form-layout">
        <div class="row mg-b-0">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.dtCadastro, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(e => e.dtAtualizacao, new { @class = "form-control-label" })
                    @Html.TextBoxFor(e => e.dtAtualizacao, "{0:dd/MM/yyyy}", new { @class = "form-control", readOnly = "readonly" })
                </div>
            </div>
        </div>
    </div>

}
<hr />
